<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>Hai Vu</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw+VSscC6ZEY9i9RL1ynV5wNeHtOewEGoQ1tV1ueU7siVpHstH4a4oNKatSKB2Q6hQMqrowuHw1Jnjn87N8m/V8g==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$SDG9HQ.x4kN5HJT3nbv.ieMnFIPgWbvSbZeGuSI7VMpayCIGbhYxW</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1662306883178</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>